:root { 
--bluegray_50:#edf2f7; 
--blue_A401:#2f80ed; 
--blue_A400:#2076ff; 
--light_green_A700:#3bbb00; 
--red_400:#df6951; 
--green_A100:#afffc5; 
--black_900_87:#0c050787; 
--pink_A100:#f16dac; 
--black_900_01:#00000001; 
--teal_901:#002b4e; 
--teal_900:#1b574c; 
--light_blue_A700:#008cf1; 
--deep_orange_100:#ffbdbd; 
--purple_300:#d164da; 
--black_900_05:#0c050705; 
--purple_301:#c963e8; 
--gray_402:#b8b7bc; 
--amber_900:#fe6e04; 
--gray_400:#bcb7c2; 
--blue_900:#0c21c1; 
--gray_401:#c4c4c4; 
--gray_802:#43434a; 
--gray_800:#424242; 
--blue_500:#2196f3; 
--gray_801:#3e2e4d; 
--indigo_A200_19:#546fff19; 
--amber_100:#fbebb8; 
--black_900_0c:#0000000c; 
--orange_200:#ffc999; 
--bluegray_800:#39425d; 
--bluegray_401:#718096; 
--bluegray_400:#84829a; 
--blue_102:#bed1ff; 
--blue_103:#b8dbff; 
--blue_100:#bac8ff; 
--black_900_19:#00000019; 
--blue_101:#b8d2f1; 
--blue_A700_0a:#185cff0a; 
--indigo_600:#3d3ab7; 
--gray_52:#fafafa; 
--gray_51:#f7fafc; 
--red_700:#ca4b3d; 
--blue_A700:#185cff; 
--deep_purple_700:#553c9a; 
--deep_purple_300:#8a79df; 
--gray_50:#f0f9ff; 
--black_900_63:#0c050763; 
--red_A400:#ff2424; 
--gray_906:#000741; 
--deep_purple_A100:#c68bf0; 
--purple_50:#f9e0f6; 
--gray_907:#130f26; 
--gray_501:#9c9ca4; 
--gray_103:#f7f7f7; 
--gray_500:#9497a1; 
--gray_901:#141522; 
--gray_900:#3a0000; 
--gray_101:#f5f5f7; 
--gray_102:#f5f5f5; 
--gray_100:#f1f6fa; 
--bluegray_702:#4a5568; 
--bluegray_701:#4e4e73; 
--bluegray_700:#2c796b; 
--blue_800_19:#0b44cc19; 
--bluegray_300:#8e92bc; 
--gray_700_21:#69676721; 
--cyan_900:#006380; 
--gray_300_3f:#dedbdb3f; 
--blue_A700_2d:#185cff2d; 
--purple_100:#d5aee4; 
--white_A700_7f:#ffffff7f; 
--green_101:#ced8cb; 
--deep_purple_A200_59:#6a4dff59; 
--green_100:#d0d8c9; 
--light_blue_500:#04a4f4; 
--green_900:#005813; 
--black_900_3f:#0000003f; 
--green_500:#4caf50; 
--green_A700:#02b735; 
--green_A701:#00b011; 
--green_A702:#00bc34; 
--red_400_4c:#df69514c; 
--red_A701:#c10000; 
--red_A700:#c40003; 
--gray_600:#995b5b; 
--gray_601:#7f7f7f; 
--gray_604:#757575; 
--gray_605:#707070; 
--gray_602:#6f6f6f; 
--amber_700:#f1a501; 
--gray_603:#686d77; 
--bluegray_602:#606176; 
--bluegray_601:#5e6282; 
--bluegray_600:#54577a; 
--bluegray_200:#a0aec0; 
--blue_300:#59b1e6; 
--white_A701:#fffdfd; 
--white_A700:#ffffff; 
--red_901:#b91212; 
--red_900:#b81111; 
--indigo_A200:#546fff; 
--green_800:#08a029; 
--black_904:#0c0507; 
--black_903:#080808; 
--white_A700_75:#ffffff75; 
--black_905:#040404; 
--black_900:#000000; 
--yellow_700:#f0bb1f; 
--deep_orange_600:#f15a2b; 
--black_902:#010101; 
--black_901:#030303; 
--deep_orange_A400:#f43f07; 
--pink_200:#f289aa; 
--gray_700:#5d5d67; 
--gray_301:#dfdfdf; 
--gray_302:#e5e5e5; 
--indigo_50:#e2e8f0; 
--bluegray_100:#c9dcec; 
--gray_300:#dadada; 
--orange_300:#ffc365; 
--bluegray_900:#292d33; 
--amber_700_26:#f1a50126; 
--white_A700_00:#ffffff00; 
--indigo_100:#bfc2e8; 
--indigo_101:#bad0f1; 
--bluegray_500:#607d94; 
--bluegray_101:#cbd5e0; 
--bluegray_905:#333333; 
--bluegray_904:#1e1d4c; 
--bluegray_903:#14183e; 
--bluegray_902:#181e4b; 
--bluegray_901:#212832; 
--purple_100:#d5aee4; 
--gray_500:#9497a1; 
--gray_800:#3c3c43; 
--black_900_3f:#0000003f; 
--gray_101:#f2f2f7; 
--gray_100:#f3f4f5; 
--bluegray_900:#292d33; 
--bluegray_600:#5e6282; 
--black_900:#000000; 
--black_901:#080808; 
--deep_purple_A400:#6f1df4; 
--white_A700:#ffffff; 
--bluegray_901:#14183e; 
--teal_100:#002B4E;
}